.container {
    width: 70%;
    height: auto;
    margin: auto;
    display:block;
    justify-content: center;
    font-size: 10vw;
}

.mat-toolbar{
    background-image: url('../../../../../assets/kitty.gif');
    background-position: right; 
    background-repeat: no-repeat; 
    background-size:40%;
    background-color: RGB(151,109,158);
    color: white;
    padding-bottom: 5%;
}

.mat-toolbar-row{
    padding: 10% 0 10% 5%;
}

.mat-card{
    background-color: RGB(151,109,158);
    border-radius: 0;
}

@media only screen and (max-width: 600px) {   
    .container{
        width: 100%;
    }
}



